
<div class="row">
    <div class="col-lg-6">
        <div class="card shadow mb-4">
            <div class="card-header">
                
                <h5 class="m-0 font-weight-bold text-primary"><i class="fas fa-chart-pie me-1"></i> Statuses Chart</h5>
                
            </div>
            <div class="card-body"><canvas id="myPieChart" width="100%" height="50"></canvas></div>
            
        </div>
    </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>

<script>
    // Set new default font family and font color to mimic Bootstrap's default styling
    Chart.defaults.global.defaultFontFamily = '-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif';
    Chart.defaults.global.defaultFontColor = '#292b2c';

    // Pie Chart Example
    var ctx = document.getElementById("myPieChart");
    var myPieChart = new Chart(ctx, {
        type: 'pie',
        data: {
            labels: [
                "Waiting for Shalishut",
                "Waiting for Clinic",
                "Waiting for Baror",
                "Ready to run",
                "Running",
                "After Baror",
                "Medically disqualified",
                "Active",
                "Quit",
                "Pass"],
            datasets: [{
                data: [
                    {{ status.WAITING_FOR_SHALISHUT.count }},
            {{ status.WAITING_FOR_CLINIC.count }},
                {{ status.WAITING_FOR_BAROR.count }},
    {{ status.READY_TO_RUN.count }},
    {{ status.RUNNING.count }},
    {{ status.AFTER_BAROR.count }},
    {{ status.MEDICALLY_DISQUALIFIED.count }},
    {{ status.ACTIVE.count }},
    {{ status.QUIT.count }},
    {{ status.PASS.count }},],
    backgroundColor: [
        '#cc33ff',
        '#99b3ff',
        '#ffc107',
        '#e67300',
        '#994d00',
        '#3366ff',
        '#000000',
        '#66cc00',
        '#cc0000',
        '#336600',],
        }],
    },
});
</script>