{% extends "home_commander.html" %}
{% block commander-main %}
<div class="container-fluid">

    <div class="d-sm-flex align-items-center justify-content-between mb-4"><a
            href="{% url 'shalishut:add-soldier-shalishut' %}" class="d-inline-block btn btn-primary shadow-sm"><svg
                xmlns="{% static 'icons/plus-lg.svg'%}" width="16" height="16" fill="currentColor" class="bi bi-plus-lg"
                viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                    d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z" />
            </svg> Add Soldier</a></div>

    <!-- Content Row -->
    <div class="row">

        <!-- Earnins (Monthly) Card -->
        <div class="col-xl-4 col-md-6 mb-4">
            <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text font-weight-bold text-success text-uppercase mb-1">
                                After Shalishut</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{soldiers.after.count}}</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Pending Requests Card -->
        <div class="col-xl-4 col-md-6 mb-4">
            <div class="card border-left-warning shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-1">
                            <div class="text font-weight-bold text-warning text-uppercase mb-1">
                                Waiting List</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{soldiers.before.count}}</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-user fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- DataTales -->
    {% if soldiers.before.count > 0 %}
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h5 class="m-0 font-weight-bold text-primary">Waiting List</h5>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead class="text-gray-800">
                        <tr>
                            <th>IDF Number</th>
                            <th>Soldier Status</th>
                            <th> </th>
                        </tr>
                    </thead>
                    <tfoot class="text-gray-800">
                        <tr>
                            <th>IDF Number</th>
                            <th>Soldier Status</th>
                            <th> </th>
                        </tr>
                    </tfoot>
                    <tbody>
                        {% for soldier in soldiers.before %}
                        <tr>
                            <th>{{ soldier.idf_num }}</th>
                            <td>{{ soldier.soldier_status }}</td>
                            <td><a href="{% url 'shalishut:update-soldier-shalishut' soldier.id %}"> <button
                                        type="button" class="btn btn-outline-info"><svg
                                            xmlns="{% static 'icons/edit.svg' %}" width="16" height="16"
                                            fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                            <path
                                                d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z">
                                            </path>
                                            <path fill-rule="evenodd"
                                                d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z">
                                            </path>
                                        </svg></button></a></td>
                        </tr>
                        {% endfor%}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    {% endif %}
    <div class=" card shadow mb-4">
        <div class="card-header py-3">
            <h5 class="m-0 font-weight-bold text-primary">After Shalishut</h5>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead class="text-gray-800">
                        <tr>
                            <th>IDF Number</th>
                            <th>Name</th>
                            <th>Status</th>
                            <th>ID</th>
                            <th>City</th>
                            <th>Profile</th>
                            <th> </th>
                        </tr>
                    </thead>
                    <tfoot class="text-gray-800">
                        <tr>
                            <th>IDF Number</th>
                            <th>Name</th>
                            <th>Status</th>
                            <th>ID</th>
                            <th>City</th>
                            <th>Profile</th>
                            <th> </th>
                        </tr>
                    </tfoot>
                    <tbody>
                        {% for soldier in soldiers.after %}
                        <tr>
                            <th>{{ soldier.idf_num }}</th>
                            <td>{{ soldier.shalishut.firstname }} {{ soldier.shalishut.lastname }}</td>
                            <td>{{ soldier.soldier_status }}</td>
                            <td>{{ soldier.shalishut.identity_num }}</td>
                            <td>{{ soldier.shalishut.city }}</td>
                            <td>{{ soldier.shalishut.profile }}</td>
                            <td><a href="{% url 'shalishut:update-soldier-shalishut-admin' soldier.id %}">
                                    <button type="button" class="btn btn-outline-info"><svg
                                            xmlns="{% static 'icons/edit.svg' %}" width="16" height="16"
                                            fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                            <path
                                                d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z">
                                            </path>
                                            <path fill-rule="evenodd"
                                                d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z">
                                            </path>
                                        </svg></button></a></td>
                        </tr>
                        {% endfor%}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>

{% endblock %}

{% block content %}

<div class="container">

    <div class="row row-cols-1 row-cols-sm-1 row-cols-md-3 g-3">
        <div style="margin: auto;" class="col">
            <br>
            <div class="card shadow-sm">
                <h2 style="text-align:center;">Acceptance Criteria</h2>

                {% include 'charts/chart_acceptance_criteria.html' %}

                <form class="form-control form-control-lg" method="post">
                    {% csrf_token %}
                    <label class="fw-bold" for="limit">Select a number:</label><br>
                    <input type="number" id="limit" name="limit" min="1" max="{{all_baror_score.count}}"><br>
                    <span class="fw-bold text-secondary" style="font-size:16px">Note:</span><br>
                    <span class="fst-italic fw-light text-secondary" style="font-size:16px">To reset, press "Set" when
                        the value is empty.</span>
                    <br><br>
                    <input class="btn btn-success float-end" type="submit" value="Set">
                </form>
                <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <a href="{% url 'commander:menu-commander' %}"><button type="button"
                                    class="btn btn-sm btn-outline-secondary">Back</button></a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}