{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="container">
        <h1 style="text-align: center">Commander Menu</h1>
        <div class="list-group">
            <!-- <form class="d-flex" role="search" action="{% url 'commander:menu-commander' %}">
                <input name="search" class="form-control me-2" type="search" placeholder="search" aria-label="search">
                <button class="btn btn-primary" type="submit">Search</button>
            </form> -->
            <a href="{% url 'commander:acceptance-criteria-commander' %}"><button type="button"
                    class="list-group-item  list-group-item-action btn btn-light">Set the acceptance criteria</button></a>

        </div>
        <br>
    </div>
    <br>
{% include 'charts/charts_menu.html' %}
    <div class="container">
        {% for key,value in status.items %}
        <table class="table  caption-top">
            <caption style="text-align: left">
                <h3>{{key}} - {{value.count}}</h3>
            </caption>
            <thead>
                <tr>
                    <th scope="col">IDF Number</th>
                    <th scope="col">Name</th>
                    <th scope="col">Status</th>
                    <th scope="col">ID</th>
                    <th scope="col">City</th>
                    <th scope="col">Profile</th>
                    <!-- <th scope="col"> </th> -->
                </tr>
            </thead>
            <tbody>
                {% for v in value %}
                <tr>
                    <th scope="row">{{ v.idf_num }}</th>
                    <td>{{ v.shalishut.firstname }} {{ v.shalishut.lastname }}</td>
                    <td>{{ v.soldier_status }}</td>
                    <td scope="col">{{ v.shalishut.identity_num }}</td>
                    <td scope="col">{{ v.shalishut.city }}</td>
                    <td scope="col">{{ v.shalishut.profile }}</td>
                    <!-- <td><a href="{% url 'commander:menu-commander' %}"><button
                                class="btn btn-light" disabled>Update(admin)</button></a></td> -->
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <br><br>
        {% endfor %}
    </div>
</div>

{% endblock %}