{% extends "home_commander.html" %}
{% block commander-main %}
<div class="container-fluid">

    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <a href="{% url 'commander:acceptance-criteria-commander' %}"
            class="d-inline-block btn btn-lg btn-primary shadow-sm">Set the acceptance criteria
        </a>
    </div>

    <!-- Content Row -->
    <!-- <div class="row"> -->

    <!-- Earnins (Monthly) Card -->
    <!-- <div class="col-xl-4 col-md-6 mb-4">
            <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text font-weight-bold text-success text-uppercase mb-1">
                                After Shalishut</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{soldiers.after.count}}</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->

    <!-- Pending Requests Card -->
    <!-- <div class="col-xl-4 col-md-6 mb-4">
            <div class="card border-left-warning shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-1">
                            <div class="text font-weight-bold text-warning text-uppercase mb-1">
                                Waiting List</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{soldiers.before.count}}</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-user fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->

    {% include 'charts/charts_menu.html' %}

    <!-- DataTales -->
    {% for key,value in status.items %}
    <div class=" card shadow mb-4">
        <div class="card-header py-3">
            <h5 class="m-0 font-weight-bold text-primary">{{key}} - {{value.count}}</h5>
        </div>
        <div class="card-body">
            <div class="table-responsive">

                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead class="text-gray-800">
                        <tr>
                            <th>IDF Number</th>
                            <th>Name</th>
                            <th>Status</th>
                            <th>ID</th>
                            <th>City</th>
                            <th>Profile</th>
                            <!-- <th> </th> -->
                        </tr>
                    </thead>
                    <tfoot class="text-gray-800">
                        <tr>
                            <th>IDF Number</th>
                            <th>Name</th>
                            <th>Status</th>
                            <th>ID</th>
                            <th>City</th>
                            <th>Profile</th>
                            <!-- <th> </th> -->
                        </tr>
                    </tfoot>
                    <tbody>
                        {% for v in value %}
                        <tr>
                            <th>{{ v.idf_num }}</th>
                            <td>{{ v.shalishut.firstname }} {{ v.shalishut.lastname }}</td>
                            <td>{{ v.soldier_status }}</td>
                            <td>{{ v.shalishut.identity_num }}</td>
                            <td>{{ v.shalishut.city }}</td>
                            <td>{{ v.shalishut.profile }}</td>
                            <!-- <td><a href="{% url 'commander:menu-commander' %}"><button
                                class="btn btn-light" disabled>Update(admin)</button></a></td> -->
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}