{% load static %}
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

  <!-- Sidebar - Brand -->
  <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{% url 'home-page'%}">
    <div class="sidebar-brand-text mx-3">
      <img src="{% static 'icons/K9 icon without background_216x100.png'%}" width="150" alt="" />
    </div>
  </a>
  <!-- Divider -->
  <hr style="background-color: white;" class="sidebar-divider my-0">

  <li class="nav-item">
    <a class="nav-link" href="{% url 'home-page'%}">
      <span>Home</span>
    </a>
  </li>

  <!-- Divider -->
  <hr style="background-color: white;" class="sidebar-divider">

  <!-- Heading -->
  <div class="sidebar-heading" style="font-size: 14px;">
    Departments
  </div>

  <!-- Nav Item - Pages Collapse Menu -->
  <li class="nav-item">
    <a class="nav-link" href="{% url 'shalishut:menu-shalishut' %}">
      <span>Shalishut</span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'clinic:menu-clinic' %}">
      <span>Clinic</span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'barors:all-barors' %}">
      <span>Barors</span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'commander:menu-commander' %}">
      <span>Commander</span>
    </a>
  </li>

  <!-- Divider -->
  <hr style="background-color: white;" class="sidebar-divider my-0">

  <li class="nav-item">
    <a class="nav-link" href="{% url 'user_management:menu-users' %}">
      <span>User Management</span>
    </a>
  </li>


  <!-- Divider -->
  <hr style="background-color: white;" class="sidebar-divider">

  <!-- Sidebar Toggler (Sidebar) -->
  <div class="text-center d-none d-md-inline">
    <button class="rounded-circle border-0" id="sidebarToggle"></button>
  </div>

</ul>