{% extends "base.html" %}
{% block content %}
<div class="continer">
        <div class="form-group">

            <br />
            <h3 style="text-align:center;">Add soldier</h3>
            <form action="{% url 'shalishut:add-soldier-shalishut' %}" class="form-control form-control-lg"
                method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <label for="idf_num">Idf Number:</label><br>
                <input type="number" id="idf_num" min="1" max="500" name="idf_num" required><br>
                <input class="btn btn-success" type="submit" value="Add">
            </form>
        </div>
        <a href="{% url 'shalishut:menu-shalishut' %}"><button class="btn btn-outline-secondary">Back</button></a>
</div>

{% endblock %}