{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="container">
        <h1 style="text-align: center">Shalishut Menu</h1>
        <div class="list-group">
            <form class="d-flex" role="search" action="{% url 'shalishut:search-shalishut' %}">
                <input name="search" class="form-control me-2" type="search" placeholder="search" aria-label="search">
                <button class="btn btn-primary" type="submit">Search</button>
            </form>
            <a href="{% url 'shalishut:add-soldier-shalishut' %}"><button type="button"
                    class="list-group-item  list-group-item-action btn btn-light">Add soldier</button></a>

        </div>
        <br>
    </div>

    <div class="container">
        <table class="table  caption-top">
            <caption style="text-align: left">
                <h3>Waiting List - {{soldiers.before.count}}</h3>
            </caption>
            <thead>
                <tr>
                    <th scope="col">IDF Number</th>
                    <!-- <th scope="col">Name</th> -->
                    <th scope="col">Soldier Status</th>
                    <th scope="col"> </th>
                </tr>
            </thead>
            <tbody>
                {% for soldier in soldiers.before %}
                <tr>
                    <th scope="row">{{ soldier.idf_num }}</th>
                    <!-- <td>{{ soldier.name }}</td> -->
                    <td>{{ soldier.soldier_status }}</td>
                    <td><a href="{% url 'shalishut:update-soldier-shalishut' soldier.id %}"><button
                                class="btn btn-light">Update</button></a></td>
                </tr>
                {% endfor%}
            </tbody>
        </table>
    </div>
    <br>
    <div class="container">
        <table class="table  caption-top">
            <caption style="text-align: left">
                <h3>After Shalishut - {{soldiers.after.count}}</h3>
            </caption>
            <thead>
                <tr>
                    <th scope="col">IDF Number</th>
                    <th scope="col">Name</th>
                    <th scope="col">Status</th>
                    <th scope="col">ID</th>
                    <th scope="col">City</th>
                    <th scope="col">Profile</th>
                    <th scope="col"> </th>
                </tr>
            </thead>
            <tbody>
                {% for soldier in soldiers.after %}
                <tr>
                    <th scope="row">{{ soldier.idf_num }}</th>
                    <td>{{ soldier.shalishut.soldier_name }}</td>
                    <td>{{ soldier.soldier_status }}</td>
                    <td scope="col">{{ soldier.shalishut.identity_num }}</td>
                    <td scope="col">{{ soldier.shalishut.city }}</td>
                    <td scope="col">{{ soldier.shalishut.profile }}</td>
                    <td><a href="{% url 'shalishut:update-soldier-shalishut' soldier.id %}"><button
                                class="btn btn-light" disabled>Update(admin)</button></a></td>
                </tr>
                {% endfor%}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}