{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="container">
        <h1 style="text-align: center">Shalishut Menu</h1>
        <div class="list-group">
            <a href="{% url 'shalishut:add-soldier-shalishut' %}"><button type="button"
                    class="list-group-item  list-group-item-action btn btn-light">Add soldier</button></a>
        </div>
        <br>
    </div>
    <div class="container">
        <table class="table  caption-top">
            <caption style="text-align: left">
                <h3>Waiting List - {{soldiers.count}}</h3>
            </caption>
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">name</th>
                    <th scope="col">Soldier Status</th>
                    <th scope="col"> </th>
                </tr>
            </thead>
            <tbody>
                {% for soldier in soldiers%}
                <tr>
                    <th scope="row">{{ soldier.id }}</th>
                    <td>{{ soldier.name }}</td>
                    <td>{{ soldier.soldier_status }}</td>
                    <td><a href="{% url 'soldiers:single-soldier' soldier.id %}"><button
                                class="btn btn-light">Update</button></a></td>
                </tr>

                {% endfor%}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}