{% extends "base.html" %}
{% block content %}
<div class="container">

    <div class="row row-cols-1 row-cols-sm-1 row-cols-md-3 g-3">
        <div style="margin: auto;" class="col">
            <div class="card shadow-sm">

                <h1 style="text-align:center;">Update Soldier</h1>
                <form class="form-control form-control-lg" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="hidden" id="soldier_pk" name="soldier_pk" value="{{soldier.id}}">
                    <label for="first_name">First name:</label><br>
                    <input type="text" id="first_name" name="first_name" required><br>
                    <label for="last_name">Last name:</label><br>
                    <input type="text" id="last_name" name="last_name" required><br>
                    <label for="identity_num">Identity num:</label><br>
                    <input type="text" id="identity_num" name="identity_num" minlength="9" maxlength="9" required><br>
                    <label for="city">City:</label><br>
                    <input type="text" id="city" name="city" required><br>
                    <label for="profile">Profile:</label>
                    <select id="profile" name="profile" required>
                        {% for p in profiles %}
                        <option value="{{p}}">{{p}}</option>
                        {% endfor %}s
                    </select><br>
                    <!-- <label for="Picture">Picture:</label><br>
                    <input type=file name="picture"><br><br> -->


                    <input class="btn btn-success float-end" type="submit" value="Update">

                </form>
                <div class="card-body">

                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <a href="{% url 'shalishut:menu-shalishut' %}"><button type="button"
                                    class="btn btn-sm btn-outline-secondary">Back</button></a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}