{% extends "base.html" %}
{% block content %}
<div class="container">
            <h1 cla>Main Menu</h1>
            <div class="list-group">
                <a href="{% url 'soldiers:all-soldiers' %}"><button type="button" class="list-group-item  list-group-item-action btn btn-light" >Soldiers</button></a>
                <a href="{% url 'barors:all-barors' %}"><button type="button" class="list-group-item list-group-item-action">Barors</button></a>
                <button type="button" class="list-group-item list-group-item-action">Shalishut</button>
                <button type="button" class="list-group-item list-group-item-action">Clinic</button>
                <button type="button" class="list-group-item list-group-item-action" disabled>A disabled button item</button>
              </div>
</div>
{% endblock %}