{% extends "base.html" %}
{% block main %}
<div class="container-fluid ">

    <!-- Page Heading -->
    <div style="text-align:center;" class="mb-4">
        <h1 class="mb-0 text-gray-800" style="font-weight: bold;">Welcome!</h1>
    </div>

    
        <div>Welcome to the K-9 unit Gibush site.
            <br>Here you can find all you need to know about the candidates, their status and manage their process during the Gibush.</div>
        <br>
        
        
        <!-- Content Row -->
        <div class="row">
            <h2>Workflow</h2>
            <h3>Shalishut:</h3>
            <div>
                <ul>
                    <dl>
                        <li>
                            <dt>Add Soldiers.</dt>
                        </li>
                        <li>
                            <dt>Enter an IDF number.</dt>
                        </li>
                        <dd>- IDF is the “username” of the soldier.</dd>
                        <li>
                            <dt>Update the soldier details.</dt>
                        </li>
                        <dd>- Once you update, the soldier’s status changes to ‘Waiting for Clinic’.</dd>
                    </dl>
                </ul>
            </div>

            <h3>Clinic:</h3>
            <div>
                <ul>
                    <dl>
                        <li>
                            <dt>Update:</dt>
                        </li>
                        <dd>- Unfit ---> File is not required ---> The soldier stops the process, the status changes to ‘Medically disqualified'.</dd>
                        <dd>- Fit ---> File is required ---> Continue, the status changes to 'Waiting for Baror'.</dd>
                        <dd>- You can open the PDF.</dd>
                    </dl>
                </ul>
            </div>

            <h3>Baror:</h3>
            <div>
                <ul>
                    <dl>
                        <li>
                            <dt>Add rounds.</dt>
                        </li>
                        <li>
                            <dt>Edit rounds:</dt>
                        </li>
                        <dd>- Add soldiers ---> Finish.</dd>
                        <li>
                            <dt>Let’s go!:</dt>
                        </li>
                        <dd>- Start.</dd>
                        <dd>- Press ‘Done’ when the soldier finishes the round.</dd>
                        <dd>- You can view the round.</dd>
                    </dl>
                </ul>
            </div>

            <h3>Commander:</h3>
            <div>
                <ul>
                    <dl>
                        <li>
                            <dt>Chart & Tables:</dt>
                        </li>
                        <dd>- This page shows all the statuses and where the soldiers are now.</dd>
                        <li>
                            <dt>Acceptance criteria:</dt>
                        </li>
                        <dd>- Select a number ---> Set.</dd>
                        <li>
                            <dt>Access to user management.</dt>
                        </li>
                    </dl>
                </ul>
            </div>

            <h3>User Management:</h3>
            <div>
                <ul>
                    <dl>
                        <li>
                            <dt>Add users.</dt>
                        </li>
                        <li>
                            <dt>Edit users.</dt>
                        </li>
                        <li>
                            <dt>Active/Inactive users.</dt>
                        </li>
                        <li>
                            <dt>Permissions.</dt>
                        </li>
                    </dl>
                </ul>
            </div>
        </div>
</div>
{% endblock %}


User Management:
Add users.
Edit users.
Active/Inactive users.
Permissions.