{% extends "home_baror.html" %}
{% block baror-main %}
<div class="container-fluid">

  <!-- Content Row -->
  <!-- <div class="row"> -->

  <!-- Earnins (Monthly) Card -->
  <!-- <div class="col-xl-4 col-md-6 mb-4">
          <div class="card border-left-success shadow h-100 py-2">
              <div class="card-body">
                  <div class="row no-gutters align-items-center">
                      <div class="col mr-2">
                          <div class="text font-weight-bold text-success text-uppercase mb-1">
                              After Shalishut</div>
                          <div class="h5 mb-0 font-weight-bold text-gray-800">{{soldiers.after.count}}</div>
                      </div>
                      <div class="col-auto">
                          <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                      </div>
                  </div>
              </div>
          </div>
      </div> -->

  <!-- Pending Requests Card -->
  <!-- <div class="col-xl-4 col-md-6 mb-4">
          <div class="card border-left-warning shadow h-100 py-2">
              <div class="card-body">
                  <div class="row no-gutters align-items-center">
                      <div class="col mr-1">
                          <div class="text font-weight-bold text-warning text-uppercase mb-1">
                              Waiting List</div>
                          <div class="h5 mb-0 font-weight-bold text-gray-800">{{soldiers.before.count}}</div>
                      </div>
                      <div class="col-auto">
                          <i class="fas fa-user fa-2x text-gray-300"></i>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div> -->

  <!-- DataTales -->
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h2 class="m-0 font-weight-bold text-primary">ROUND: {{ baror.baror_round }}</h2>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
          <h4 style="text-align: center" class="top">
            {% if baror.start_round_date is None %}
            <form action="{% url 'barors:start-baror' baror.id %}" method="post">
              {% csrf_token %}
              <button class="btn btn-success">Start</button>
            </form>
            {% else %}
            <div>Start time: {{ baror.start_round_date }}</div>

            {% endif %}
          </h4>

          <thead class="text-gray-800">
            <tr>
              <th>IDF Number</th>
              <th>Baror Score</th>
              <th> </th>
            </tr>
          </thead>
          <tfoot class="text-gray-800">
            <tr>
              <th>IDF Number</th>
              <th>Baror Score</th>
              <th> </th>
            </tr>
          </tfoot>
          <tbody>
            {% for score in barorscores %}

            <tr>
              <th>{{ score.soldier.idf_num }}</th>
              <td>{{ score.str_score }}</td>

              <td>
                {% if baror.start_round_date is None %}

                {% elif score.str_score is None %}
                <form action="{% url 'barors:manage-soldier-in-round' baror.id %}" method="post">
                  {% csrf_token %}
                  <input type="hidden" id="pk" name="pk" value="{{baror.id}}">
                  <input type="hidden" id="soldier_id" name="soldier_id" value="{{score.soldier.id}}">
                  <button class="btn btn-secondary">Done</button>
                </form>
                {% else %}
                <button class="btn btn-outline-secondary" disabled>Done</button>
                {% endif %}
              </td>
              {% endfor%}
          </tbody>
        </table>
      </div>
      <div>
        {% if baror.start_round_date is None %}
        <a href="{% url 'barors:all-barors' %}"><button class="btn btn-outline-secondary">Back</button></a>
        {% elif baror.start_round_date != None and baror.stop_round_date != None %}
        <a href="{% url 'barors:all-barors' %}"><button class="btn btn-outline-secondary">Back</button></a>
        {% endif %}
      </div>
    </div>

  </div>

</div>
{% endblock%}

{% block content %}

<div class="container">
  <div class="row row-cols-1 row-cols-md-1 g-4">
    <div class="col">
      <div class="card shadow-sm">
        <div class="container">
          <table class="table table caption-top">
            <caption style="text-align: center"></caption>
            <h1>ROUND: {{ baror.baror_round }}</h1>
            {% if baror.start_round_date is None %}
            <form action="{% url 'barors:start-baror' baror.id %}" method="post">
              {% csrf_token %}
              <button class="btn btn-success">Start</button>
            </form>
            {% else %}
            <div>Start time: {{ baror.start_round_date }}</div>

            {% endif %}
            </caption>

            <thead>
              <tr>
                <th scope="col">IDF Number</th>
                <th scope="col">Baror Score</th>
                <th scope="col"> </th>
              </tr>
            </thead>
            <tbody>
              {% for score in barorscores %}

              <tr>
                <th>{{ score.soldier.idf_num }}</th>
                <td>{{ score.str_score }}</td>

                <td>
                  {% if baror.start_round_date is None %}

                  {% elif score.str_score is None %}
                  <form action="{% url 'barors:manage-soldier-in-round' baror.id %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" id="pk" name="pk" value="{{baror.id}}">
                    <input type="hidden" id="soldier_id" name="soldier_id" value="{{score.soldier.id}}">
                    <button class="btn btn-secondary">Done</button>
                  </form>
                  {% else %}
                  <button class="btn btn-outline-secondary" disabled>Done</button>
                  {% endif %}
                </td>
                {% endfor%}
            </tbody>
          </table>
          <div>
            {% if baror.start_round_date is None %}
            <a href="{% url 'barors:all-barors' %}"><button class="btn btn-outline-secondary">Back</button></a>
            {% elif baror.start_round_date != None and baror.stop_round_date != None %}
            <a href="{% url 'barors:all-barors' %}"><button class="btn btn-outline-secondary">Back</button></a>
            {% endif %}
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

</div>
{% endblock %}