{% extends "base.html" %}
{% block content %}
<div class="continer">
    <div class="form-group">
        <!-- <h3>Add round</h3> -->
        <br /><br />
        <h3 style="text-align:center;">Add round</h3>
        <form class="form-control form-control-lg" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <label for="baror_round">Baror round:</label><br>
            <input type="text" id="baror_round" name="baror_round"><br>
            <!-- <label for="Price">Price:</label><br>
            <input type="text" id="Price" name="price"><br> -->
            <!-- <label for="Picture">Picture:</label><br>
            <input type=file name="picture"><br><br> -->
            <input class="btn btn-success" type="submit" value="Add">
        </form>
    </div>
</div>

{% endblock %}




<!-- ###################################################### -->
<!-- 
  <div class="album py-5 bg-light">
    <div class="container">

      <div class="row row-cols-1 row-cols-sm-1 row-cols-md-3 g-3">
        <div style="margin: auto;" class="col">
          <div class="card shadow-sm">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="0" xmlns="http://www.w3.org/2000/svg"
              role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
             </svg>

             <h3 style="text-align:center;">Add round</h3>
             <form class="form-control form-control-lg" method="post" enctype="multipart/form-data">
              <label for="Bookname">Baror name:</label><br>
              <input type="text" id="Bookname" name="bookname"><br>
              <label for="Price">Price:</label><br>
              <input type="text" id="Price" name="price"><br>
              <label for="Picture">Picture:</label><br>
              <input type=file name="picture"><br><br>
              
              <!-- <input type=submit value=Upload> -->
<!-- <input type="text" id="Picture" name="picture"><br><br> -->

<!-- <input class="btn btn-success" type="submit" value="Add">

</form>
<div class="card-body"> -->

    <!-- <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="/admin/home"><button type="button" class="btn btn-sm btn-outline-secondary">Back</button></a>
                </div> -->

<!-- </div>
</div>
</div>
</div>
</div>
</div>
</div> --> -->