{% extends "home_baror.html" %}
{% block baror-main %}
<div class="container-fluid">


    <!-- DataTales -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h3 class="m-0 font-weight-bold text-primary">Edit - {{ baror.baror_round }}</h3>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead class="text-gray-800">
                        <tr>
                            <th>IDF Number</th>
                            <th>Soldier status</th>
                            <th> </th>
                        </tr>
                    </thead>
                    <tfoot class="text-gray-800">
                        <tr>
                            <th>IDF Number</th>
                            <th>Soldier status</th>
                            <th> </th>
                        </tr>
                    </tfoot>
                    <tbody>
                        {% for soldier in soldiers%}

                        <tr>
                            <th>{{ soldier.idf_num }}</th>
                            <td>{{ soldier.soldier_status }}</td>

                            <td>
                                <form action="{% url 'barors:add-soldier-to-round' %}" method="post">
                                    {% csrf_token %}
                                    <input type="hidden" id="pk" name="pk" value="{{baror.id}}">
                                    <input type="hidden" id="soldier_id" name="soldier_id" value="{{soldier.id}}">
                                    <button class="btn btn-info">Add</button>
                                </form>
                            </td>
                            {% endfor%}
                    </tbody>
                </table>
            </div>
            <div>
                <a href="{% url 'barors:all-barors' %}"><button class="btn btn-outline-secondary">Back</button></a>
                {% if baror.barorscore_set.all %}
                <a href="{% url 'barors:baror-is-ready' baror.id %}"><button class="btn btn-success">finish</button></a>
                {% endif%}
            </div>
        </div>

    </div>

</div>
{% endblock%}