{% extends "base.html" %}
{% block content %}

<!-- <h2 class="">List of soldiers</h2> -->
<div class="container">
    <table class="table table caption-top">
        <caption style="text-align: center">
            <h1>List of BarOrs</h1>
        </caption>


        <thead>
            <tr>
                <th scope="col">name</th>
                <th scope="col">Baror Status</th>
                <th scope="col">Soldiers In Round</th>
                <th scope="col"> </th>
            </tr>
        </thead>
        <tbody>
            {% for baror in barors %}
            <tr>
                <td>{{ baror.baror_round }}</td>
                <td>{{ baror.baror_status }}</td>
                <td>
                    {% with barorscoers=baror.barorscore_set.all %}
                    
                    {% if barorscoers %}
                        {% for barorscore in barorscoers %}
                        <span>{{barorscore.soldier.name}}</span>
                            {% if forloop.last is False%}
                                <span>,</span>
                            {% endif %}
                        {% endfor %}
                    {% else %}
                    <span>None</span>

                    {% endif %}
                    {% endwith %}
                </td>
                <td>
                    <a href="{% url 'barors:edit-baror' baror.id %}"><button class="btn btn-sm btn-light">Edit</button></a>
                    {% if baror.baror_status == "Ready"%}
                    <a href="{% url 'barors:start-baror' baror.id %}"><button class="btn btn-sm btn-success">Let's go!</button></a>
                    {% endif %}
                </td>

            </tr>

            {% endfor%}
        </tbody>
    </table>
    <a href="{% url 'barors:add-baror' %}"><button class="btn btn-outline-primary">Add round</button></a>
</div>
{% endblock %}